In [2]:
from pandas import Series, DataFrame
import pandas as pd

### Read in the cars.csv file, and print the first row

In [20]:
df = pd.read_csv('cars.csv')
df.iloc[0]

type     AMC Ambassador Brougham
mpg                         13.0
cyl                            8
disp                       360.0
hp                         175.0
wt                          3821
speed                       11.0
wt.1                          73
Name: 0, dtype: object

### Create a column named _kpl_ that contains the mileage of each car, in kilometers per liter.

You already have miles-per-gallon (mpg). 1 mile = 1.609 kilometers, and 1 gallon = 3.785 liters.

In [21]:
df['kpl'] = df['mpg'] * (1.609 /3.785)
df

,type,mpg,cyl,disp,hp,wt,speed,wt.1,kpl
0,AMC Ambassador Brougham,13.0,8,360.0,175.0,3821,11.0,73,5.526288
1,AMC Ambassador DPL,15.0,8,390.0,190.0,3850,8.5,70,6.376486
2,AMC Ambassador SST,17.0,8,304.0,150.0,3672,11.5,72,7.226684
3,AMC Concord DL 6,20.2,6,232.0,90.0,3265,18.2,79,8.587001
4,AMC Concord DL,18.1,6,258.0,120.0,3410,15.1,78,7.694293
...,...,...,...,...,...,...,...,...,...
401,Volvo 145E (Wagon),18.0,4,121.0,112.0,2933,14.5,72,7.651783
402,Volvo 244DL,22.0,4,121.0,98.0,2945,14.5,75,9.352180
403,Volvo 245,20.0,4,130.0,102.0,3150,15.7,76,8.501982
404,Volvo 264GL,17.0,6,163.0,125.0,3140,13.6,78,7.226684
405,Volvo Diesel,30.7,6,145.0,76.0,3160,19.6,81,13.050542

### Add a new column called *disp_per_cyl* to the dataframe.

The values of this column should be the displacement (*disp*) per cylinder (*cyl*) for each car.

In [22]:
df['disp_per_cyl'] = df['disp'] / df['cyl']
df

,type,mpg,cyl,disp,hp,wt,speed,wt.1,kpl,disp_per_cyl
0,AMC Ambassador Brougham,13.0,8,360.0,175.0,3821,11.0,73,5.526288,45.000000
1,AMC Ambassador DPL,15.0,8,390.0,190.0,3850,8.5,70,6.376486,48.750000
2,AMC Ambassador SST,17.0,8,304.0,150.0,3672,11.5,72,7.226684,38.000000
3,AMC Concord DL 6,20.2,6,232.0,90.0,3265,18.2,79,8.587001,38.666667
4,AMC Concord DL,18.1,6,258.0,120.0,3410,15.1,78,7.694293,43.000000
...,...,...,...,...,...,...,...,...,...,...
401,Volvo 145E (Wagon),18.0,4,121.0,112.0,2933,14.5,72,7.651783,30.250000
402,Volvo 244DL,22.0,4,121.0,98.0,2945,14.5,75,9.352180,30.250000
403,Volvo 245,20.0,4,130.0,102.0,3150,15.7,76,8.501982,32.500000
404,Volvo 264GL,17.0,6,163.0,125.0,3140,13.6,78,7.226684,27.166667
405,Volvo Diesel,30.7,6,145.0,76.0,3160,19.6,81,13.050542,24.166667

### Print the names of the 5 fastest cars.

In [23]:
df1 = df.sort_values(by='speed', ascending = False)
df2 = df.iloc[:5]
df2['type']

#df.sort_values(by = 'speed').iloc[-5:]['type'] --- very compact way of doing the same thing

0    AMC Ambassador Brougham
1         AMC Ambassador DPL
2         AMC Ambassador SST
3           AMC Concord DL 6
4             AMC Concord DL
Name: type, dtype: object

### Find the fraction of cars that have 8 cylinders

*Hint:* Use the len() function to get the number of rows of a DataFrame

In [29]:
len(df[df['cyl'] ==8]) / len(df)
#len(df[df.cyl ==8]) / len(df) ---can reference a column by doing df.cyl instead of the ususal ['']

0.2660098522167488

### Which cars are just way too heavy?

Suppose the average weight of all cars is m, and the standard deviation of weights is s.
A car is too heavy if its weight is greater than m + 2*s.

*Hint:* Look at the mean() and std() methods of Series.

In [32]:
df[df['wt']] > df['wt'].mean() + 2 * df['wt'].std()

KeyError: "None of [Int64Index([3821, 3850, 3672, 3265, 3410, 3035, 3210, 3003, 2789, 2634,\n            ...\n            1990, 1978, 1950, 2254, 2868, 2933, 2945, 3150, 3140, 3160],\n           dtype='int64', length=406)] are in the [columns]"